<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Ehsan Soltanmohammadi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Ehsan S.Mohammadi - Software Data Engineer">
    <meta property="og:description" content="Explore the portfolio of Ehsan, showcasing expertise in big data pipelines, cloud services, and machine learning.">
    <meta property="og:image" content="https://www.ehsansm-portfolio.com/main/static/images/portfolio-thumbnail.jpg">
    <meta property="og:url" content="https://www.ehsansm-portfolio.com/">
    <meta property="og:type" content="webapplication">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ehsan S.Mohammadi - Software Data Engineer">
    <meta name="twitter:description" content="Explore the portfolio of Ehsan, showcasing expertise in big data pipelines, cloud services, and machine learning.">
    <meta name="twitter:image" content="https://www.ehsansm-portfolio.com/main/static/images/portfolio-thumbnail.jpg">
</head>
<body>
    <img src="{% static 'images/image.jpg' %}" alt="Pipeline 1" class="cover-photo">
    <div class="wlccontainer">
    <header>
        <h1>Welcome to My Portfolio</h1>
    </header>

    <h3>I'm Ehsan Soltanmohammadi, a Software Data Engineer with a deep passion for designing and implementing scalable big data pipelines. I specialize in optimizing ETL processes using Kubernetes, PySpark, and Apache Airflow, while leveraging cloud services like AWS and Azure. My expertise extends to integrating machine learning techniques, utilizing tools such as Scikit-learn, Pytorch, and TensorFlow to build predictive models and enhance data-driven insights in complex domains.</h3>
    </div>
    <main>
        
        
        <div class="container">
            <h1>Sample ETL Project Explanation</h1>
            <p>
                In my portfolio, I've showcased a comprehensive ETL project where I developed a robust pipeline to handle real estate rental data. The ingestion layer utilized AWS Lambda functions, scheduled by AWS EventBridge, to periodically extract data from the Zillow API. This data, which includes rent prices for San Francisco (SF), San Diego (SD), and New York (NY), was initially stored in AWS Redshift. Following this, another Lambda function triggered data transformations as it arrived, cleaning and structuring the data before loading it into a PostgreSQL database. Finally, an interactive dashboard was created using Django, providing dynamic visualizations of the rental trends across the three cities.
            </p>
            <p><a href="{% url 'dashboard' %}" class="dashboard-link">Link to the Interactive Dashboard</a></p>
            <h2>Steps</h2>
            <ul>
                <li><strong>Extract</strong>: Use AWS Lambda functions, scheduled by AWS EventBridge, to periodically pull rental price data from the Zillow API for SF, SD, and NY.</li>
                <li><strong>Transform</strong>: Apply necessary data transformations with another Lambda function to clean and structure the data.</li>
                <li><strong>Load</strong>: Store the cleaned data in a PostgreSQL database after initial staging in AWS Redshift.</li>
                <li><strong>Visualize</strong>: Create an interactive dashboard in Django to provide dynamic visualizations of the rental price trends.</li>
            </ul>
            <img src="{% static 'images/lambda_pipeline.jpg' %}" alt=" " class="samplepipeline">

        </div>
        <h2></h2>
        <p><a href="{% url 'resume' %}" class="resume-link">View My Resume</a></p>
        <p><a href="{% url 'new_page' %}" class="sample-link">Sample Data Pipelines</a></p>
        <p><a href="https://www.linkedin.com/in/ehsansm/" class="sample-link" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
        
        <!-- Add button to guide to the survey -->
        <div class="survey-section">
            <h2>Participate in My Research Survey</h2>
            <p>I am conducting a simple survey as part of our research on data engineering domains related to my graduate studies. Your participation will provide valuable insights into the current trends, challenges, and advancements in data engineering. The survey is designed to be brief and should only take a few minutes of your time.</p>
            <a href="{% url 'survey' %}" class="dashboard-link">Start the Survey</a>
            <div class="info-box">
                <p>Total survey submissions so far: {{ submission_count }}</p>
                <p>Current time: <span id="current-time"></span></p>
            </div>
        </div>
        

        <!-- Message Me Section -->
        <section id="contact-form">
            <h2>Contact Me</h2>
            <form method="POST" action="{% url 'send_message' %}">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your Message:</label>
                <textarea id="message" name="message" required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>

    <script>
        function updateTime() {
            const now = new Date();
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                timeZoneName: 'short'
            };
            document.getElementById('current-time').textContent = now.toLocaleString('en-US', options);
        }

        // Update time every second
        setInterval(updateTime, 1000);
        // Initial call to set the time immediately
        updateTime();
    </script>
</body>
</html>
