<!-- main/templates/main/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Ehsan Sm</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<img src="{% static 'images/image.jpg' %}" alt="Pipeline 1" class="cover-photo">
<body>
    <header>

        <h1>Welcome to My Portfolio</h1>
        <h2></h2>
    </header>

    <header>
    <main>
        <h3>I'm Ehsan Soltanmohammadi, a Software Data Engineer with a deep passion for designing and implementing scalable big data pipelines. I specialize in optimizing ETL processes using Kubernetes, PySpark, and Apache Airflow, while leveraging cloud services like AWS and Azure. My expertise extends to integrating machine learning techniques, utilizing tools such as Scikit-learn, Pytorch, and TensorFlow to build predictive models and enhance data-driven insights in complex domains..</h3>
        <p><a href="{% url 'resume' %}" class="resume-link">View My Resume</a></p>
        <p><a href="{% url 'new_page' %}" class="sample-link">Sample Data pipelines</a></p>
        <p><a href="https://www.linkedin.com/in/ehsansm/" class="sample-link" target="_blank" rel="noopener noreferrer">LinkedIn</a></p> <!-- LinkedIn link -->
    </main>

    <main>

        <!-- Message Me Section -->
        <section id="contact-form">
            <h2>Contact Me</h2>
            <form method="POST" action="{% url 'send_message' %}">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your Message:</label>
                <textarea id="message" name="message" required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>
</header>
</body>
</html>
