<!DOCTYPE html>
<html lang="en">
<head>
  <p><a href="{% url 'home' %}" class="resume-link">Back to Home</a></p>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Data Engineering Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<body>
    <div class="survey-container">
        <h1>Healthcare Data Engineering Survey</h1>
        <form id="survey-form" method="POST" action="{% url 'survey' %}">
            {% csrf_token %}
            
            {% for question in questions %}
              <h2></h2>

                <div class="question">
                    <label for="question_{{ question.id }}">
                        <span class="question-number">{{ forloop.counter }}.</span>
                        {{ question.question_text }}
                    </label>
                    
                    {% if question.question_type == "text" %}
                        <input type="text" id="question_{{ question.id }}" name="question_{{ question.id }}" size="50" placeholder="Your answer here">
                        
                    {% elif question.question_type == "rating" %}
                        <div>
                            {% for value in "12345"|slice:":5" %}
                                <label>
                                    <input type="radio" id="question_{{ question.id }}_{{ value }}" name="question_{{ question.id }}" value="{{ value }}" required>
                                    {{ value }}
                                    <h2></h2>
                                </label>
                            {% endfor %}
                        </div>
                        
                        
                    {% elif question.question_type == "multiple_choice" %}
                        <div>
                            {% for option in question.options.all %}
                                <label>
                                    <input type="checkbox" id="question_{{ question.id }}_{{ option.value }}" name="question_{{ question.id }}_options" value="{{ option.value }}">
                                    {{ option.label }}

                                </label><br>

                            {% endfor %}
                        </div>
                        <p class="error" id="error-question-{{ question.id }}" style="display: none;">Please select at least one option.</p>
                        
                    {% endif %}
                </div>
            {% endfor %}
            
            <button type="submit">Submit Survey</button>
        </form>
    </div>

    <script>
        document.getElementById('survey-form').addEventListener('submit', function(event) {
            var isValid = true;
            {% for question in questions %}
                {% if question.question_type == "multiple_choice" %}
                    var checkboxes = document.querySelectorAll('input[name="question_{{ question.id }}_options"]');
                    var isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                    var errorElement = document.getElementById('error-question-{{ question.id }}');
                    if (!isChecked) {
                        isValid = false;
                        errorElement.style.display = 'block';
                    } else {
                        errorElement.style.display = 'none';
                    }
                {% endif %}
            {% endfor %}
            
            if (!isValid) {
                event.preventDefault();
            }
        });
    </script>
</body>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</html>
